.FastPresentation{
    width: 100%;
    padding: 50px 30px;
}

.dv-text{
    width: 70%;
    margin-left: 15%;
}

.dv-fast-logo{
    width: 70%;
    margin-left: 15%; 
}

.img-list-product{
    width: 100%;
    padding: 10px;
    height: 200px;
}